In [51]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [52]:
csv_path = Path('whale_returns.csv')
whale_returns = pd.read_csv(csv_path)
whale_returns

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
...,...,...,...,...,...
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [53]:
# Count nulls
whale_returns.isnull().mean() * 100
whale_returns.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [54]:
# Drop nulls
whale_returns = whale_returns.dropna()

In [55]:
# Count nulls
whale_returns.isnull().mean() * 100
whale_returns.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [56]:
whale_returns = whale_returns.sort_values(by=['Date'], ascending=True)
whale_returns

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
5,2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...,...
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [57]:
whale_returns['Date'] = whale_returns['Date'].astype("datetime64")

In [58]:
whale_returns.set_index('Date')

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,0.008149,0.009162,0.012355,0.010434
2019-04-29,0.001254,0.002719,0.006251,0.005223
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [60]:
whale_returns.tail(15)

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1045,2019-04-10,0.009808,0.008366,0.002912,0.005269
1046,2019-04-11,0.003406,-0.003959,-0.000637,-0.000496
1047,2019-04-12,0.005663,-0.001165,0.004217,0.007316
1048,2019-04-15,-0.001422,-0.001156,0.000398,-0.010492
1049,2019-04-16,0.002699,0.000388,-0.000831,0.000837
1050,2019-04-17,-0.002897,-0.006467,-0.004409,0.003222
1051,2019-04-18,0.001448,0.001222,0.000582,0.001916
1052,2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088
1053,2019-04-23,0.007167,0.003485,0.006472,0.013278
1054,2019-04-24,0.002284,0.001009,-0.004000,-0.006386
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [64]:
whale_returns.tail()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1049,2019-04-16,0.002699,0.000388,-0.000831,0.000837
1050,2019-04-17,-0.002897,-0.006467,-0.004409,0.003222
1051,2019-04-18,0.001448,0.001222,0.000582,0.001916
1052,2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [66]:
whale_returns = whale_returns.drop(labels=1059, axis=0)

In [68]:
whale_returns.tail()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1048,2019-04-15,-0.001422,-0.001156,0.000398,-0.010492
1049,2019-04-16,0.002699,0.000388,-0.000831,0.000837
1050,2019-04-17,-0.002897,-0.006467,-0.004409,0.003222
1051,2019-04-18,0.001448,0.001222,0.000582,0.001916
1052,2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088

In [ ]:
whale_returns = whale_returns.drop(labels=range(1004, 1059), axis=0)

In [50]:
whale_returns.tail(50)

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1004,2019-02-11,-0.000991,0.003465,0.000130,0.007072
1005,2019-02-12,0.000000,0.000000,0.000000,0.000000
1006,2019-02-13,0.000000,0.000000,0.000000,0.000000
1007,2019-02-14,0.002795,0.001987,-0.004381,-0.003987
1008,2019-02-15,0.006410,0.007684,0.010389,0.005964
1009,2019-02-19,0.003437,0.000896,0.002877,0.005298
1010,2019-02-20,0.003650,-0.001690,0.005369,0.003833
1011,2019-02-21,-0.001401,-0.004180,-0.001717,-0.006760
1012,2019-02-22,0.001011,0.004447,-0.139820,0.022029
1013,2019-02-25,-0.002242,-0.003639,-0.009525,0.005358
1014,2019-02-26,-0.006030,-0.006118,-0.017294,-0.001617
1015,2019-02-27,-0.003739,-0.013566,-0.014170,0.007532
1016,2019-02-28,0.001146,0.017573,0.015376,-0.005387
1017,2019-03-01,0.005292,0.006227,-0.011270,0.006593
1018,2019-03-04,-0.002872,-0.002861,0.008612,-0.001126
1019,2019-03-05,-0.003056,-0.006115,-0.004871,0.007795
1020,2019-03-06,-0.008326,-0.010321,-0.007948,0.000753
1021,2019-03-07,-0.007841,0.003632,-0.013210,-0.019471
1022,2019-03-08,0.000350,0.003437,0.004437,-0.005996
1023,2019-03-11,0.015435,0.005009,0.005324,0.019401
1024,2019-03-12,-0.000180,0.003514,-0.002001,0.001199
1025,2019-03-13,0.002724,-0.001074,0.010082,0.001127
1026,2019-03-14,-0.000275,0.001952,-0.006597,-0.008241
1027,2019-03-15,0.003264,0.003948,0.005449,0.005083
1028,2019-03-18,0.006692,-0.000263,-0.000292,0.002991
1029,2019-03-19,0.000154,0.002040,0.005608,0.011596
1030,2019-03-20,-0.004683,-0.004472,-0.007399,-0.000404
1031,2019-03-21,0.015109,0.004746,0.018898,0.013333
1032,2019-03-22,-0.017664,-0.013698,-0.016745,-0.028230
1033,2019-03-25,-0.003330,-0.000420,0.000972,0.010737
1034,2019-03-26,0.004387,0.005641,0.009190,0.005378
1035,2019-03-27,-0.003994,-0.007321,-0.004278,-0.006041
1036,2019-03-28,0.003216,-0.006963,0.005932,0.005964
1037,2019-03-29,0.001392,0.003030,-0.001277,0.012783
1038,2019-04-01,0.009000,0.010073,0.003972,0.013182
1039,2019-04-02,0.000193,-0.005619,-0.006623,0.001152
1040,2019-04-03,0.003562,0.001305,0.005193,0.003252
1041,2019-04-04,0.001255,0.010630,0.008459,-0.008037
1042,2019-04-05,0.006880,0.006484,0.009357,0.006128
1043,2019-04-08,0.000483,-0.000310,0.000153,0.000841
1044,2019-04-09,-0.005657,-0.004396,-0.006536,-0.002497
1045,2019-04-10,0.009808,0.008366,0.002912,0.005269
1046,2019-04-11,0.003406,-0.003959,-0.000637,-0.000496
1047,2019-04-12,0.005663,-0.001165,0.004217,0.007316
1048,2019-04-15,-0.001422,-0.001156,0.000398,-0.010492
1049,2019-04-16,0.002699,0.000388,-0.000831,0.000837
1050,2019-04-17,-0.002897,-0.006467,-0.004409,0.003222
1051,2019-04-18,0.001448,0.001222,0.000582,0.001916
1052,2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833